html,
body {
  overflow: hidden;
}

body {
  margin: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar {
  --progress: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 0.5rem;
  background-color: rgba(255 255 255 / 25%);
  transform: translate(-50%, -50%);
  transition: all 100ms ease-out;
}

.loading-bar.hidden {
  opacity: 0;
}

.loading-bar::after {
  content: "";
  display: block;
  width: var(--progress);
  height: 100%;
  background-color: rgba(255 255 255 / 100%);
  transition: all 100ms ease-out;
}
